admin/.editorconfig
admin/.gitignore
admin/src/assets/.gitkeep
api/modules/v1/controllers/DistrictController.php
api/modules/v1/models/District.php
api/modules/v1/models/Locality.php
api/modules/v1/models/Nasleg.php
api/runtime/