 <div class="outer" style="height:500px; width: 100%;">
    <span class="inner">
      <form class="form" [formGroup]="loginForm">
        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Введите номер телефона</mat-label>
          <input id="phone" type="tel" matInput mask="(000) 000-00-00" prefix="+7 " [showMaskTyped]="false" formControlName="phone">
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
          <mat-label for="fullname">Введите никнейм</mat-label>
          <input matInput id="fullname" type="text"  formControlName="fullname">
        </mat-form-field>
      </form>   
      <button mat-raised-button color="primary" class="btn" (click)="register()">Зарегистрироваться</button>
      <br />
    <br />
    <button mat-raised-button color="primary" routerLink="/login">Войти</button>
    </span>
  </div>