.container {
    background-color: #DBDBDB;
  }
  
  .card {
    max-width: 250px;
  }
  
  .form {
    min-width: 150px;
    max-width: 250px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .error {
    color: brown;
  }