<table style="width: 100%;">
    <tr>
        <td>
            <div class="container">
                <ya-map 
                [center]="[62.026734, 129.737444]" 
                [zoom]="12"
                [state]="{
                  controls: [
                    'zoomControl',
                    'fullscreenControl'
                  ]
                }"
                (ready)="onMapReady($event)"></ya-map>
            </div>
        </td>
        <td style="width: 20%;">
            <div *ngFor="let mark of placemarks; index as i;">
                <mat-card>
                    <mat-card-actions>
                        <span style="cursor:pointer;" (click)="mapcenter(mark.latitude,mark.longitude);">ID: #{{mark.id}}</span>
                      <button mat-button (click)="markAccept(mark.id)" *ngIf="mark.status">Одобрить</button>
                      <button mat-button (click)="requestDelete(mark.id, i)">Отклонить</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            
        </td>
    </tr>
</table>
