 
  .card {
    max-width: 450px;
  }
  
  .form {
    min-width: 100px;
    max-width: 350px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .error {
    color: brown;
  }

  .outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .inner {
    display: inline-block;
    vertical-align: middle;
  }
  
  .outer {
    text-align: center;
  }

