<mat-toolbar color="primary">
    <img src="/assets/logo.png" style="height: 50px; cursor: pointer;" routerLink="/"/>
    <span class="spacer"></span>
    <button mat-button routerLink="/navigator.html" aria-label="Навигатор">
      Навигатор
    </button>
    <button mat-button routerLink="/quest.html" aria-label="Квесты">
      Квесты
    </button>
    <button mat-icon-button routerLink="/login.html" aria-label="Авторизация">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
<router-outlet></router-outlet>
