<div class="container">
    <ya-map 
    [center]="[62.026734, 129.737444]" 
    [zoom]="12"
    [state]="{
      controls: [
        'zoomControl',
        'fullscreenControl'
      ]
    }"
    (ready)="onMapReady($event)"></ya-map>
</div>
<img src="/assets/plus.png" class="btnPlus" routerLink="/add-placemark">
<div class="markList">
    <div class="example-action-buttons">
        Мои метки
      </div>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let mark of placemarks; index as i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ID: #{{mark.id}}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <button mat-icon-button (click)="requestDelete(mark.id, i)">
            <mat-icon>delete</mat-icon>
          </button>
      
        </mat-expansion-panel>
      </mat-accordion>

      <div class="example-action-buttons">
        Мои заявки
      </div>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let mark of placemarks; index as i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ID: #{{mark.id}}
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <button mat-icon-button (click)="requestDelete(mark.id, i)">
            <mat-icon>delete</mat-icon>
          </button>
      
        </mat-expansion-panel>
      </mat-accordion>
</div>